<div class="form-outer-cover">
  <form id="contactForm" class="" action="./sendmail" method="post">
    <div class="" style="margin-bottom: 20px;">
      <label for="name">Name *</label>
      <div class="row">
        <div class="col-md-6">
          <input type="text" id="firstName" name="firstname" value="">
          <div class="" style="font-size: 12px;">
            First Name
          </div>
        </div>
        <div class="col-md-6">
          <input type="text" id="lastName" name="lastname" value="">
          <div class="" style="font-size: 12px;">
            Last Name
          </div>
        </div>
      </div>
    </div>
    <div class="" style="margin-bottom: 20px;">
      <label for="">Email Address *</label>
      <div class="">
        <input id="email" type="email" name="email" value="">
      </div>
    </div>
    <div class="" style="margin-bottom: 20px;">
      <label for="subject">Subject *</label>
      <div class="">
        <input id="subject" type="text" name="subject" value="">
      </div>
    </div>
    <div class="" style="margin-bottom: 20px;">
      <label for="message">Message *</label>
      <div class="">
        <textarea id="message" name="message" rows="10" cols="100"></textarea>
      </div>

    </div>
    <div class="button-cover">
      <div class="clear-btn" style="margin-right: 30px;">
        CLEAR
      </div>
      <div class="submit-btn" onClick="fetchFieldValues()">
        SUBMIT
      </div>
    </div>
  </form>
</div>
