<div class="technology-desc-cover">
  <div class="technology-header technology-header-animation">
    <span>Core UI Technologies</span>
  </div>
  <div class="technology-logos">
    <img class="technology-core-animation1" src="./images/html5.png" alt="">
    <img class="technology-core-animation2" src="./images/css3.png" alt="">
    <img class="technology-core-animation3" src="./images/javascript_logo.png" alt="">
    <img class="technology-core-animation4" src="./images/react_logo.png" alt="">
    <img class="technology-core-animation5" src="./images/angularjs_logo.png" alt="">
    <img class="technology-core-animation6" src="./images/nodejs_logo.png" alt="">
  </div>
</div>

<div class="mis-desc-cover">
  <div class="mis-header technology-header-animation">
    <span>Miscellaneous Technologies</span>
  </div>
  <div class="mis-logos">
    <img class="mis-core-animation1" src="./images/redux_logo.png" style="margin-right: 26px;" alt="">
    <img class="mis-core-animation2" src="./images/sass_logo.png" style="margin-right: 15px;" alt="">
    <img class="mis-core-animation3" src="./images/webpack_1.png" alt="">
    <img class="mis-core-animation4" src="./images/sketch_min_logo.jpg" alt="">
  </div>
</div>

<div class="version-desc-cover">
  <div class="version-header technology-header-animation">
    <span>Version Control & IDE's</span>
  </div>
  <div class="version-logos">
    <img class="version-core-animation1" src="./images/github_logo.png" style="margin-right: 25px;" alt="">
    <img class="version-core-animation2" src="./images/stash_logo.png" style="margin-right: 15px;" alt="">
    <img class="version-core-animation3" src="./images/atom_logo.png" style="width: 75px; margin-right: 35px;" alt="">
    <img class="version-core-animation4" src="./images/sublime_logo.png" style="width: 75px;" alt="">
  </div>
</div>

<div class="operating-desc-cover">
  <div class="operating-header technology-header-animation">
    <span>Operating Systems</span>
  </div>
  <div class="operating-logos">
    <img class="os-core-animation1" src="./images/window_logo.png" style="width: 65px; margin-left:20px;margin-right:15px;" alt="">
    <img class="os-core-animation2" src="./images/mac_os_logo_small.png" style="margin-left: 10px; margin-right: 15px;" alt="">
    <img class="os-core-animation3" src="./images/linux_logo.png" style="" alt="">
  </div>
</div>
