<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>Umar Thariq - Web Developer, Bangalore</title>
    <meta name="title" content="">
    <meta name="description" content="Personal Website about umarthariq who is passionate on Web development. Umar is from Dindigul, Tamilnadu. Umar Thariq finished M.Tech Software Engineering in VIT University. Currently Umar Thariq working as a UI Developer in Bangalore">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109518997-1"></script>

    <!-- CDN references -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-route.js"></script>
    
    <!-- Local library references  -->
    <!-- <script type="text/javascript" src="./scripts/angular.min.js"></script>
    <script src="./scripts/angular-route.js"></script>
     -->
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-109518997-1');
    </script>
    <!-- CDN references -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"></link> -->

    <!-- Local references -->
    <!-- <link rel="stylesheet" type="text/scss" href="./styles/bootstrap.min.scss" /> -->
    <link rel="icon" href="./images/UT_4.ico"/>
    <link rel="stylesheet" href="./bundle.css"/>
  </head>
  <body>
    <div ng-app="myApp" ng-controller="mainCtrl" class="main-cover row">
        <div ng-click="hideShowMenu()" class="hamburger-menu-cover">
          <span class="icon-menu"></span>
        </div>

<!-- Desktop View   -->
        <div class="left-part hidden-sm hidden-xs col-md-9" style="padding-right: 0;">
          <div id="optionBlock" class="options-cover" style="margin-bottom: 20px;">
            <div class="row" style="border-bottom: 2px solid #EEEEEE; margin-right: 0; padding-left: 40px;margin-left: 0;">
              <div  class="each-tab col-md-3" style="text-align: center; cursor: default;" ng-click="onChangeTab('/')">
                <div id="techTab" class="tabs" ng-class="{'tab-underline': currentActiveTab === '/' || viewArticle }">
                  Articles
                </div>
              </div>
              <div class="each-tab col-md-3" style="text-align: center; cursor: default;" ng-click="onChangeTab('/projects')">
                <div id="aboutTab" class="tabs border-bottom-animation" ng-class="{'tab-underline': currentActiveTab === '/projects'}">
                  Projects
                </div>
              </div>
              <!-- <div class="col-md-3" style="text-align: center; cursor: default;" ng-click="onChangeTab('/tech')">
                <div id="projectTab" class="tabs" style="padding:15px 0px;" ng-class="{'tab-underline': currentActiveTab === '/tech'}">
                  Technologies
                </div>
              </div> -->
              <div  class="each-tab col-md-3" style="text-align: center; cursor: default;" ng-click="onChangeTab('/about')">
                <div id="techTab" class="tabs" ng-class="{'tab-underline': currentActiveTab === '/about'}">
                  About Me
                </div>
              </div>
              <div  class="each-tab col-md-3" style="text-align: center; cursor: default; padding-right: 0;" ng-click="onChangeTab('/contact')">
                <div id="expTab" class="tabs" ng-class="{'tab-underline': currentActiveTab === '/contact'}">
                  Contact Me
                </div>
              </div>
            </div>
          </div>
          <div class="">
            <div id="contentDisplay" class="content-display">
                <ng-view></ng-view>
            </div>
          </div>
      </div>

      <div id="rightPart" class="right-part hidden-sm hidden-xs col-md-3" style="visibility: none;">
          <div class="" style="padding: 20px 0;">
            <div class="" style="text-align: center;">
              <img class="profile-img" alt="">
            </div>
            <div class="self-intro-cover" style="text-align: center;">
              <div class="" style="margin-top: 30px;">
                <div class="">
                  <span>Hello, My Name is</span>
                </div>
                <h2 style="margin-top: 5px;">Umar Thariq</h2>
                <p class="self-desc" style="font-size: 14px; padding: 0 5px;">I am a Web Developer, who passionate about learning new cutting edge technologies and utilizes that to develop efficient Web Applications.</p>
              </div>
            </div>
            <div class="social-icons">
                <div class="social-icons-cover">
                  <a href="https://www.facebook.com/umarthariq" target="_blank"><span style="font-size: 17px;" class="icon-facebook"></span></a>
                  <a href="https://www.linkedin.com/in/umarthariq" target="_blank"><span style="font-size:22px;" class="icon-linkedin2"></span></a>
                  <a href="https://github.com/umarthariqalexander" target="_blank"><span style="font-size:22px;" class="icon-github"></span></a>
                  <a href="mailto:umarthariq@gmail.com"><span style="font-size:22px;" class="icon-envelope-o"></span></a>
                </div>
              </div>
            </div>
      </div>

<!-- End of Desktop View -->

<!-- Mobile View -->
      <div  class="left-part hidden-md hidden-lg col-sm-12 col-xs-12">
          <div class="" style="padding: 20px 0;">
            <div class="" style="text-align: center;">
              <img class="profile-img" alt="">
            </div>
            <div class="self-intro-cover" style="text-align: center;">
              <div class="" style="margin-top: 30px;">
                <div class="">
                  <span>Hello, My Name is</span>
                </div>
                <h2 style="margin-top: 5px;">Umar Thariq</h2>
                <p class="self-desc" style="font-size: 14px; padding: 0 5px;">I am a Web Developer, who passionate about learning new cutting edge technologies and utilizes that to develop efficient Web Applications.</p>
              </div>
            </div>
            <div class="social-icons">
                <div class="social-icons-cover">
                  <a href="https://www.facebook.com/umarthariq" target="_blank"><span style="font-size: 17px;" class="icon-facebook"></span></a>
                  <a href="https://www.linkedin.com/in/umarthariq" target="_blank"><span style="font-size:22px;" class="icon-linkedin2"></span></a>
                  <a href="https://github.com/umarthariqalexander" target="_blank"><span style="font-size:22px;" class="icon-github"></span></a>
                  <a href="mailto:umarthariq@gmail.com"><span style="font-size:22px;" class="icon-envelope-o"></span></a>
                </div>
              </div>
            </div>
      </div>
      <div id="rightPart" class="right-part hidden-md hidden-lg col-sm-12 col-xs-12" style="padding-right: 0;">
          <div id="optionBlock" class="options-cover" style="margin-bottom: 20px;">
            <div class="row" style="border-bottom: 2px solid #EEEEEE; margin-right: 0; padding-left: 40px;margin-left: 0;">
              <div  class="each-tab col-md-3" style="text-align: center; cursor: default;" ng-click="onChangeTab('/')">
                <div id="techTab" class="tabs" ng-class="{'tab-underline': currentActiveTab === '/' || viewArticle }">
                  Articles
                </div>
              </div>
              <div class="each-tab col-md-3" style="text-align: center; cursor: default;" ng-click="onChangeTab('/projects')">
                <div id="aboutTab" class="tabs border-bottom-animation" ng-class="{'tab-underline': currentActiveTab === '/projects'}">
                  Projects
                </div>
              </div>
              <!-- <div class="col-md-3" style="text-align: center; cursor: default;" ng-click="onChangeTab('/tech')">
                <div id="projectTab" class="tabs" style="padding:15px 0px;" ng-class="{'tab-underline': currentActiveTab === '/tech'}">
                  Technologies
                </div>
              </div> -->
              <div  class="each-tab col-md-3" style="text-align: center; cursor: default;" ng-click="onChangeTab('/about')">
                <div id="techTab" class="tabs" ng-class="{'tab-underline': currentActiveTab === '/about'}">
                  About Me
                </div>
              </div>
              <div  class="each-tab col-md-3" style="text-align: center; cursor: default; padding-right: 0;" ng-click="onChangeTab('/contact')">
                <div id="expTab" class="tabs" ng-class="{'tab-underline': currentActiveTab === '/contact'}">
                  Contact Me
                </div>
              </div>
            </div>
          </div>
          <div class="">
            <div id="contentDisplay" class="content-display">
                <ng-view></ng-view>
            </div>
          </div>
      </div>

<!-- End of Mobile View -->
    </div>
  </body>
</html>
