<div class="about-desc-cover">
  <div class="mobile-header">
    About Me
  </div>
  <div class="about-wish-header" style="margin-bottom: 15px;">
    <span>Hello there! <span id="wishes"></span>,</span>
  </div>
  <p style="margin-bottom: 15px;">
    I have done my Masters degree in Software Engineering at VIT University, Vellore. I love to do things that giving more interest to me.
    During my childhood days i loves to do drawing, my career started as a intern in one E-Commerce Company,
    later i found out that i am more interested in designing and developing of websites that comes from childhood hobbies so finally became
    full time web developer.
  </p>
  <p style="margin-bottom: 15px;">
    When i switched to my second company, i got good exposure to learn and work in cutting edge
    technologies of web development. So I learnt to develop more optimistic and responsive websites that helps the people to connect &
    interact with more complex systems. I have learned to adapt fast, be resourceful and work as a part of team to achieve the common goal.
  </p>
  <p style="margin-bottom: 15px;">I love to watch adventure and action movies, listening melody songs, playing cricket etc.</p>
  <p style="margin-bottom: 25px;">I always follow one rule that i have learnt,</p>
  <div class="" style="text-align:center; padding-right: 20px;">
    <div style="text-align: center; margin-bottom: 10px;">"Plan Your Work</div>
    <div style="text-align: center; margin-bottom: 10px;">And</div>
    <div style="text-align: center; margin-bottom: 20px;">Work Your Plan"</div>
    <div class="quote-written">
      <span>- my school teacher</span>
    </div>
  </div>
</div>
