<div class="articles-wrapper">
    <div ng-click="navigateToArticle(article.id, article.linkTitle)" class="each-article-wrapper" ng-repeat="article in articlesList">
        <div ng-if="article.banner_img" class="image-wrapper">
            <img ng-src="{{article.banner_img}}" />
        </div>
        <div ng-if="article.banner_title" class="image-wrapper" ng-class="{'default-banner-wrapper': !article.banner_img}">
            <div class="default-img-banner">
                <div class="default-banner-title" ng-bind="article.banner_title"></div>
                <div class="js">JS</div>    
            </div>
        </div>
        <div class="article-title">
            {{article.title}}
        </div>
        <div class="article-desc">
            <span>{{article.desc}}</span>
        </div>
    </div>
</div>
