<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome!!!</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109518997-1"></script>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-109518997-1');
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./styles/styles.css">
    <link rel="stylesheet" href="./styles/iconStyles.css">
    <script src="./scripts/scripts.js" type="text/javascript">
    </script>
  </head>
  <body>
    <div class="main-cover row">
      <div class="left-part col-md-4 col-sm-4 col-xs-12" style="border-right: 2px solid #eee; height: 100vh;">
        <div class="" style="padding: 20px;">
          <div class="" style="text-align: center;">
            <img src="./images/myImage.jpg" style="width: 300px;" alt="">
          </div>
          <div class="" style="padding: 20px; text-align: center;">
            <div class="" style="margin-top: 30px;">
              <div class="">
                <span>Hello, My Name is</span>
              </div>
              <h1 style="margin-top: 5px;">Umar Thariq</h1>
              <p>I am a Web Developer, who passionate about learning new cutting edge technologies and utilizes that to develop efficient Web Applications.</p>
            </div>
          </div>
          <div class="social-icons">
            <div class="social-icons-cover">
              <a href="https://www.facebook.com/umarthariq" target="_blank"><span class="icon-facebook"></span></a>
              <a href="https://www.linkedin.com/in/umarthariq" target="_blank"><span style="font-size:30px;" class="icon-linkedin2"></span></a>
              <a href="https://github.com/umarthariqalexander" target="_blank"><span style="vertical-align:text-top;font-size:30px;" class="icon-github"></span></a>
              <a href="mailto:umarthariq@gmail.com"><span style="font-size:35px; vertical-align:text-top;" class="icon-mail"></span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="right-part col-md-8 col-sm-8 col-xs-12" style="">
        <div class="" style="margin-bottom: 20px;">
          <div class="row" style="padding: 20px;">
            <div class="col-md-3" style="text-align: center; cursor: default;" onclick="onChangeTab(event)">
              <div id="aboutTab" class="tab-underline tabs border-bottom-animation" style="padding:15px 0px;">
                Projects
              </div>
            </div>
            <div class="col-md-3" style="text-align: center; cursor: default;" onclick="onChangeTab(event)">
              <div id="projectTab" class="tabs" style="padding:15px 0px;">
                Technologies
              </div>
            </div>
            <div  class="col-md-3" style="text-align: center; cursor: default;" onclick="onChangeTab(event)">
              <div id="techTab" class="tabs" style="padding:15px 0px;">
                About Me
              </div>
            </div>
            <div  class="col-md-3" style="text-align: center; cursor: default;" onclick="onChangeTab(event)">
              <div id="expTab" class="tabs" style="padding:15px 0px;">
                Contact Me
              </div>
            </div>
          </div>
        </div>
        <div class="">
          <div class="content-display" style="padding: 0px 20px;">
              <div id="aboutDesc" class="tabdesc display-block" style="display:none;">
                <% projectList.forEach((project)=>{ %>
                  <%- include("partials/projectdesc.ejs", {project}) %>
                <% }); %>
              </div>
              <div id="projectDesc"  class="tabdesc" style="display:none;">
                <%- include("partials/technologydesc.ejs", {}) %>
              </div>
              <div id="techDesc" class="tabdesc" style="display:none;">
                <%- include("partials/about.ejs", {}) %>
              </div>
              <div id="expDesc" class="tabdesc" style="display:none;">
                <%- include("partials/contact.ejs", {}) %>
              </div>
          </div>
        </div>
      </div>
    </div>
  <script src="./scripts/axios.min.js" type="text/javascript"></script>
  </body>
</html>
