<div class="technology-desc-cover">
  <div class="mobile-header">
    Technologies
  </div>
  <div class="technology-header technology-header-animation">
    <span>Core UI Technologies</span>
  </div>
  <div class="technology-logos">
    <img class="technology-core-animation1" ng-src="{{images.htmlImg}}" alt="">
    <img class="technology-core-animation2" ng-src="{{images.cssImg}}">
    <img class="technology-core-animation3" ng-src="{{images.jsImg}}" alt="">
    <img class="technology-core-animation4 react-logo" ng-src="{{images.reactImg}}" alt="">
    <img class="technology-core-animation5 angular-logo" ng-src="{{images.angularImg}}" alt="">
    <img class="technology-core-animation6" ng-src="{{images.nodeImg}}" alt="">
  </div>
</div>

<div class="mis-desc-cover">
  <div class="mis-header technology-header-animation">
    <span>Miscellaneous Technologies</span>
  </div>
  <div class="mis-logos">
    <img class="mis-core-animation1" ng-src="{{images.reduxImg}}" style="margin-right: 26px;" alt="">
    <img class="mis-core-animation2" ng-src="{{images.sassImg}}" style="margin-right: 15px;" alt="">
    <img class="mis-core-animation3" ng-src="{{images.webpackImg}}" alt="">
    <img class="mis-core-animation4" ng-src="{{images.sketchImg}}" alt="">
  </div>
</div>

<div class="version-desc-cover">
  <div class="version-header technology-header-animation">
    <span>Version Control & IDE's</span>
  </div>
  <div class="version-logos">
    <img class="version-core-animation1" ng-src="{{images.githubImg}}" alt="">
    <img class="version-core-animation2" ng-src="{{images.stashImg}}"  alt="">
    <img class="version-core-animation3" ng-src="{{images.atomImg}}" style="width: 75px;" alt="">
    <img class="version-core-animation4" ng-src="{{images.sublimeImg}}" style="width: 75px;" alt="">
  </div>
</div>

<div class="operating-desc-cover">
  <div class="operating-header technology-header-animation">
    <span>Operating Systems</span>
  </div>
  <div class="operating-logos">
    <img class="os-core-animation1" ng-src="{{images.windowsImg}}" style="width: 65px; margin-left:20px;margin-right:15px;" alt="">
    <img class="os-core-animation2" ng-src="{{images.macImg}}" style="margin-left: 10px; margin-right: 15px;" alt="">
    <img class="os-core-animation3" ng-src="{{images.linuxImg}}" style="" alt="">
  </div>
</div>
