.article-tile-wrapper{
    border: 2px solid #EEE;
    background-color: white;
    .article-image{
        width: 430px;
        height: 230px;
    }
    .article-heading-wrapper{
        padding: 20px 10px;
    }
}