.article-view-wrapper{
    padding-top: 70px;
    .article-wrapper{
        margin: 30px 100px;
        padding: 0px 30px;
        text-align: left;
        .article-main-heading{
            font-family: 'Open-Sans-Semi-Bold';
            text-align: center;
        }
        .article-sub-heading{
            font-family: 'Open-Sans-Semi-Bold';
            margin-bottom: 10px !important;
        }
        .small-sub-heading{
            font-family: 'Open-Sans-Regular';
            letter-spacing: 0.2px;
            font-size: 18px;
            line-height: 10px;
        }
        .article-content{
            font-family: 'Open-Sans-Regular';
            letter-spacing: 0.2px;
            font-size: 18px;
            line-height: 30px;
        }
        .code-snippet{
            font-family: 'Consolas';
            font-size: 18px;
            pre{
                background-color: #f2f2f2;
            }
        }
        .paragraph-break{
            margin: 50px;
        }
        .article-ordered-list{
            font-family: 'Open-sans-regular';
            font-size: 18px;
            font-weight: 300;
            li{
                line-height: 30px;
            }
        }
        .article-unordered-list{
            font-family: 'Open-sans-regular';
            font-size: 18px;
            font-weight: 300;
            li{
                line-height: 30px;
            }
        }
        .article-end{
            height: 100px;
        }
    }
}