@mixin plainLink(){
    a:link{
        text-decoration: none;
    }
    a:visited{
        text-decoration: none;
    }
    a:hover{
        text-decoration: none;
    }
    a:active{
        text-decoration: none;
    }
    a{
        color: inherit
    }
}

.header-wrapper{
    border: 2px solid #EEE;
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
    .each-header-wrapper{
        display: flex;
        padding: 0px 100px;
        @include plainLink();
        .each-header{
            width: 22%;
            padding: 20px 30px;
            font-family: 'Circular-book';
            .header{
                cursor: pointer;
                padding: 30px;
            }
        }
        .active{
            border-bottom: 2px solid #000000;
        }
    }
}

