.header-wrapper{
    border: 2px solid #EEE;
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
    .each-header-wrapper{
        display: flex;
        padding: 0px 100px;
        .each-header{
            width: 22%;
            padding: 20px 30px;
            font-family: 'Consolas';
            .header{
                cursor: pointer;
                padding: 30px;
            }
        }
    }
}


