<div class="article-wrapper">
    <div class="article-heading">AngularJS V1.X Basics</div>
    <div class="sub-heading">Introduction</div>
    <div class="content">
        <p>AngularJS is one of the famous Javascript framework. It is open source. Its maintained by Google. 
            It helps people to create a Single Page Applications.</p>
    </div>
    <div class="sub-heading">
        MVC
    </div>
    <img ng-src={{images.mvc}} style="width: 65%;" class="m-b-10"/>
    <div class="content">
        <div class="m-b-10">
            AngularJS follows the MVC pattern architecture. MVC pattern is one of the software development methodologies used in web application developments. 
        </div>
        <div class="m-b-5">
            <div class="m-b-5">Here in AngularJS MVC structure, </div>
            <div><span class="highlighter-heading">Model</span> - Basically it holds Data.</div>
            <div><span class="highlighter-heading">View</span> - Where the user can see the presentation of the model or operations. </div>
            <div><span class="highlighter-heading">Controller</span> - Which controls the interaction between the Model and View Layers. It is the place where we contains most of our application logics.</div>
        </div>
    </div>
    <div class="content">
        <div class="m-b-5">So in this article, we are going to cover basic pillars of AngularJS,</div>
        <ul>
            <li>Directives</li>
            <li>Expressions</li>
            <li>Controllers</li>
            <li>Filters</li>
            <li>Modules</li>
            <li>Services</li>
        </ul>
    </div>
    <div class="sub-heading">Directives</div>
    <div class="content m-b-5">
            Directives are most powerful components of AngularJS, Which helps to improve your HTML tags functionalities by adding markers on it. 
    </div>
    <div class="content m-b-5">
             Two types of Directives,
    </div>
    <ul class="content">
        <li>Default Directives - (i.e. AngularJS default directives like ng-model, ng-bind etc.)</li>
        <li>Custom Directives</li>
    </ul>
    <div class="sub-header-heading">Default Directives</div>
    <div class="content m-b-5">
            Angular’s default directives has “ng-“ as a prefix. This refers to namespace of angular it helps to differentiate between your own directives and default ones.
    </div>
    <div class="m-b-10">
            <div class="">Angular has plenty of useful default directives but we going to see only most useful directives of angular.</div>
            <div class="m-b-10">For more directives please refer this link: <a style="text-decoration: underline; text-decoration-color: blue;" href="//docs.angularjs.org/api/ng/directive" target="_blank">Angular Directives</a>
            </div> 
            <div>Most useful default directives, </div>
    </div>
    <div class="m-b-5 special-title-header">ng-app</div>
    <div class="content">If you include ng-app directive in any of your html tag then that denotes, this tag contains an angular application. </div>
    <div class="content m-b-5">Inside that tag what ever you write that will be considered and evaluated as a angular application code.</div>
    <textarea disabled="true" class="code-wrapper" rows="8">
    <html> 
        <head> 
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script> 
        </head> 
        <body> 
            <div ng-app>&#123; &#123; 3 + 2 &#125; &#125;</div> 
        </body>
    </html>
    </textarea>
    <div>Here in above example because we have included ng-app, Hence this expression getting evaluated.</div>
    <div class="m-b-40 m-t-40">Ending</div>
</div>