<div class="article-wrapper">
    <div class="article-heading">Find an element in array with the different newer versions of Javascript</div>
    <div class="sub-heading">Introduction</div>
    <div class="content">Recent newer versions of javascript introduced differnt ways to find an element in the array. </div>
    <div class="content m-b-10">Each one uses different mechanisms to find the elements, Hence depending upon the need of your code base you can choose one among them.</div>
    <div class="sub-heading">ES5 - indexOf() method</div>
    <div class="code-snippet">
    <textarea disabled="true" class="code-wrapper" rows="7">

    var arr = ['apple', 'orange', 'grapes'];

    if(arr.indexOf('orange') > -1){
        console.log("Element is present in the array");
    }
    </textarea>
    </div>        
    <div class="sub-heading">ES6 - find() method</div>
    <div class="code-snippet">
    <textarea disabled="true" class="code-wrapper" rows="7">

    var arr = ['apple', 'orange', 'grapes'];

    if(arr.find( item => item === 'apple')){
        console.log("Element is present in the array");
    }
    </textarea>
    </div>  

    <div class="sub-heading">ES6 - findIndex() method</div>
    <div class="code-snippet">
    <textarea disabled="true" class="code-wrapper" rows="7">   
    var arr = ['apple', 'orange', 'grapes'];

    if(arr.findIndex( item => item === 'grapes') > -1){
        console.log("Element is present in the array");
    }

    </textarea>
    </div>
    
    <div class="sub-heading">ES7 - includes() method</div>
    <div class="code-snippet">
    <textarea disabled="true" class="code-wrapper" rows="12">   
    var arr = ['apple', 'orange', 'grapes'];

    if(arr.includes('graphes')){
        console.log("Element is present in the array")
    }

    if(arr.includes('orange', 1)){ // extra param - position to start searching in array
        console.log("Element is present in the array")
    }    

    </textarea>
    </div>
    <div class="m-b-40 m-t-40"> Thanks and Welcome back !!!</div>
</div>