.article-wrapper{
    .article-heading{
        font-size: 24px;
        font-family: 'Circular-Medium';
        margin-bottom: 15px
    }
    .sub-heading{
        font-size: 18px;
        font-family: 'Circular-Book';
        margin-bottom: 5px;
    }
    .sub-header-heading{
        font-size: 16px;
        font-family: 'Circular-Book';
        margin-bottom: 5px;
    }
    .highlighter-heading{
        text-decoration: underline;
        // text-decoration-color: orange;
    }
    .content{
        font-size: 15px;
    }
    .special-title-header{
        color: #00BFFF;
    }
    .code-wrapper{
        width: 90%;
        background-color: ghostwhite;
        overflow:hidden;
        font-family: 'Monaco';
        font-size: 13px;
        color: purple;
    }
    .output-wrapper{
        background-color: floralwhite;
        border: 2px solid #999;
        width: 90%;
        padding: 5px 20px;
        border-radius: 5px;
        .output{
            color: orange;
        }
    }
    .code-snippet{
        margin-bottom: 15px;
    }
}