.articles-wrapper{
    .each-article-wrapper{
        margin-right: 30px;
        display: inline-block;
        border: 2px solid #DDD;
        border-radius: 5px;
        width: 21.5%;
        min-height: 320px;
        padding: 0px;
        vertical-align: top;
        .image-wrapper{
            text-align: center;
            min-height: 210px;
            padding: 30px;
            img{
                max-width: 130px;
            }
            .default-img-banner{
                background-color: #EDD142;
                min-width: 130px;
                min-height: 210px;
                display: flex;
                position: relative;
                .default-banner-title{
                    margin: auto;
                    color: #BD0FE1;
                    font-size: 27px;
                }
                .js{    
                    position: absolute;
                    right: 5px;
                    bottom: 0;
                    font-size: 25px;
                    font-family: 'Circular-Book';}
            }
            border-bottom: 2px solid #EEE;
        }
        & .default-banner-wrapper{
            padding: 0;
        }
        .article-title{
            text-align:center;
            padding: 5px 0;
            background-color: #DDD;
        }
        .article-desc{
            padding: 5px 10px;
            font-size: 13px;
        }
        margin-bottom: 50px;
    }
    .each-article-wrapper:hover{
        box-shadow: 5px 10px 18px #999999;
        cursor: pointer;
    }
}
