.articles-wrapper{
    .each-article-wrapper{
        margin-right: 30px;
        display: inline-block;
        border: 2px solid #DDD;
        border-radius: 5px;
        width: 21.5%;
        min-height: 320px;
        padding: 0px;
        vertical-align: top;
        .image-wrapper{
            text-align: center;
            min-height: 210px;
            background-color:#EFEFEF;
            padding: 30px;
            img{
                max-width: 130px;
            }
            border-bottom: 2px solid #EEE;
        }
        .article-title{
            text-align:center;
            padding: 5px 0;
            background-color: #DDD;
        }
        .article-desc{
            padding: 5px 10px;
            font-size: 13px;
        }
        margin-bottom: 50px;
    }
    .each-article-wrapper:hover{
        box-shadow: 5px 10px 18px #888888;
        cursor: pointer;
    }
}
