@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?f192yc');
  src:  url('fonts/icomoon.eot?f192yc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?f192yc') format('truetype'),
    url('fonts/icomoon.woff?f192yc') format('woff'),
    url('fonts/icomoon.svg?f192yc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-th-menu-outline:before {
  content: "\e901";
}
.icon-menu:before {
  content: "\e902";
}
.icon-envelope-o:before {
  content: "\e900";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin2:before {
  content: "\eaca";
}
