@import 'common.scss';
@import 'media.scss';
@import 'styles.scss';
@import 'articles.scss';
@import 'article-view.scss';
@import 'bootstrap.min.scss';
@font-face{
  font-family: Circular-Book;
  src: url('./myfonts/Circular-Book.ttf') format('truetype');
}

@font-face{
  font-family: Circular-Light;
  src: url('./myfonts/Circular-Light.ttf');
}

@font-face{
  font-family: Circular-Black;
  src: url('./myfonts/Circular-Black.ttf');
}

@font-face{
  font-family: Monaco;
  src: url('./myfonts/monaco.ttf');
}
@font-face{
  font-family: Circular-Medium;
  src: url('./myfonts/Circular-Medium.ttf');
}
a{
  color: #000;
}
body{
 font-family: 'Circular-Light', sans-serif;
}
.tabs{
  font-family: 'Circular-Light';
  font-size: 16px;
  padding: 10px 0;
  padding-top: 15px;
}
.font-circular-book{
  font-family: 'Circular-Book';
}
.tabs.tab-underline{
  border-bottom: 2px solid orange;
}
.display-block{
  display: block !important;
}
.display-inline-block{
  display: inline-block !important;
}
.input-error-border-class{
  border: 2px solid red !important;
}
.project-desc-cover{
  /*animation-name: bottomUp;
  animation-duration: 1s;
  animation-delay: 0s;*/
  position: relative;
  bottom: 0px;
}

.projectanimation1{
  animation-name: bottomUp;
  animation-duration: 1000ms;
  animation-delay: 0s;
}
.projectanimation2{
  animation-name: bottomUp;
  animation-duration: 1500ms;
  animation-delay: 0s;
}
.projectanimation3{
  animation-name: bottomUp;
  animation-duration: 2000ms;
  animation-delay: 0s;
}
.projectanimation4{
  animation-name: bottomUp;
  animation-duration: 2500ms;
  animation-delay: 0s;
}
.projectanimation5{
  animation-name: bottomUp;
  animation-duration: 3000ms;
  animation-delay: 0s;
}
.projectanimation6{
  animation-name: bottomUp;
  animation-duration: 3500ms;
  animation-delay: 0s;
}
.projectanimation7{
  animation-name: bottomUp;
  animation-duration: 4000ms;
  animation-delay: 0s;
}
.projectanimation8{
  animation-name: bottomUp;
  animation-duration: 4500ms;
  animation-delay: 0s;
}
.projectanimation9{
  animation-name: bottomUp;
  animation-duration: 5000ms;
  animation-delay: 0s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes bottomUp {
    from   {left:0px; bottom:-1000px; display: block !important;}
    to {left:0px; bottom:0px; display: block !important;}
}

/* Standard */
@keyframes bottomUp {
    from   {left:0px; bottom:-1000px; display: block !important;}
    to {left:0px; bottom:0px; display: block !important;}
}

.technology-header-animation{
  animation-name: fadeIn;
  animation-duration: 3000ms;
  animation-delay: 0s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes fadeIn {
    from   {opacity: 0;}
    to {opacity: 1;}
}

/* Standard */
@keyframes fadeIn {
  from   {opacity: 0;}
  to {opacity: 1;}
}

.social-icons-cover{
  text-align: center;
}
.social-icons-cover{
  font-size: 25px;

}
.social-icons-cover a{
      margin: 0px 5px;
      /*color: #0084ff !important;*/
      color: #000;
      text-decoration: none;
      vertical-align: text-bottom;

}
.social-icons-cover img{
    width: 50px;
}
.project-desc-cover{
  margin-top: 20px;
  margin-bottom: 20px;
}
.project-header{
  font-family: Circular-Book;
  margin-bottom: 5px;
}
.technology-desc-cover{
  margin-bottom: 30px;
}


.technology-logos img:nth-child(2){
  width: 60px;
}

.technology-header{
  font-family: 'Circular-Book';
  font-size: 17px;
  margin-bottom: 15px;
}
/*.social-icons-cover a span::before{
  vertical-align: text-top;
}*/
/*.social-icons-cover a:last-child span::before{
  vertical-align: middle !important;
}
.social-icons-cover a:last-child{
  vertical-align: bottom !important;
}*/
.mis-logos img{
  width: 80px;
  vertical-align: top;
  position: relative;
}
.mis-logo img:nth-child(2){
  margin-right: 20px;
}

.mis-desc-cover{
  margin-bottom: 20px;
}
.mis-header{
  font-family: 'Circular-Book';
    font-size: 17px;
    margin-bottom: 15px;
}

.version-desc-cover{
  margin-bottom: 20px;
}
.version-logos img{
  width: 80px;
  position: relative;
}
.version-header{
  font-family: 'Circular-Book';
    font-size: 17px;
    margin-bottom: 20px;
}

.operating-logos img{
  width: 80px;
  margin-right: 30px;
  position: relative;
}
.operating-header{
  font-family: 'Circular-Book';
    font-size: 17px;
    margin-bottom: 20px;
}
.form-outer-cover input{
    width: 100%;
    height: 35px;
    border: 2px solid #ddd;
    border-radius: 2px;
}
textarea{
  border: 2px solid #ddd;
  border-radius: 2px;
}
input:focus {
  outline: none;
}
textarea:focus {
  outline: none;
}
textarea{
  border-color: #ccc;
}
.form-outer-cover form{
  width: 90%;
}
.clear-btn{
  display: inline-block;
  border: 1px solid #ccc;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 7px;
    border-radius: 10px;
    cursor: default;
}
.submit-btn{
  display: inline-block;
  border: 1px solid #ccc;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 7px;
    border-radius: 10px;
    cursor: default;
}
.submit-success-response{
  display: inline-block;
  color: green;
}
.submit-failure-response{
  color: red;
  display:inline-block;
}
