@media only screen and (max-width: 768px) {
  #rightPart{
    position: static;
  }
  .hidden-sm{
    display: none !important;
  }
  .hidden-xs{
    display: none !important;
  }
  .left-part{
    height: auto;
    border-right: none;
    margin-bottom: 20px;
    padding-right: 0 !important;
  }
  .article-wrapper{
    margin: 0 10px !important;
    .code-wrapper{
      width: 100% !important;
    }
    .output-wrapper{
      width: 100% !important;
    }
    .mobile-article-header{
      font-family: 'Circular-Book';
      font-size: 20px;
      margin-bottom: 12px;
      text-align: center;
      border: 2px solid #eee;
      border-radius: 5px;
      background-color: #ddd;
    }
  }
  #contentDisplay{
    margin: 0 5px !important;
  }
  .articles-wrapper{
    .each-article-wrapper{
      margin-bottom: 30px !important;
      margin-left: 10px !important;
      margin-right: 10px !important;
      width: 94% !important;
      min-height: 300px !important;
      .image-wrapper{
        padding: 0 !important;
        img{ max-width: none !important;}
      }
      .default-img-banner{
        width: 100%;
        min-width: none;
        max-width: none;
      }
    }
  }
  .right-part{
    margin-bottom: 20px;
  }
  .main-cover{
    margin-right: 0px;
    margin-left: 0px;
  }
  .content-display{
    padding: 0px;
    word-spacing: 0.3px;
  }
  .project-desc-cover{
    margin-right: 0px;
  }
  .self-intro-cover{
    padding: 0px;
    margin-bottom: 10px;
  }
  .profile-img{
    width: 75%;
    border-radius: 50%;
    margin-top: 10%;
    content: url("../images/newMyImage.png");
  }
  .project-header{
    font-size: 15px;
  }
  .project-body{
    font-size: 14px;
  }
  .options-cover{
    margin-bottom: 20px;
    position: absolute;
    top: 0px;
    background-color: white;
    left: 0px;
    z-index: 1;
    margin-bottom: 20px;
    width: 50%;
    border-bottom-right-radius: 10px;
    border-right: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    display: none;
  }
  .option-hide-animation{
    animation-name: optionHideAnimation !important;
    animation-delay: 0s !important;
    animation-duration: 1s !important;
  }
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes optionHideAnimation {
      from   {left: 0px; top: 0px;}
      to  {left: -500px; top: -500px;}
  }

  /* Standard */
  @keyframes optionHideAnimation {
    from   {left: 0px; top: 0px;}
    to  {left: -500px;top: -500px;}
  }
  .option-animation{
    animation-name: optionAnimation;
    animation-delay: 0s;
    animation-duration: 500ms;
  }
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes optionAnimation {
      from   {left: -500px;top: -500px;}
      to {left: 0px; top: 0px;}
  }

  /* Standard */
  @keyframes optionAnimation {
    from   {left: -500px;top: -500px;}
    to {left: 0px; top: 0px;}
  }
  .right-part{
    position: inherit;
  }
  .options-cover > div{
    margin-top: 20px;
  }
  .hamburger-menu-cover{
    position: absolute;
    top:10px;
    left: 10px;
    z-index: 2;
  }
  .hamburger-menu-cover .icon-menu{
    font-size: 30px;
    color: grey;
  }
  .technology-logos img{
    width: 80px;
    margin-right: 30px;
    position: relative;
    margin-bottom: 10px;
  }
  .version-logos img{
    margin-bottom: 10px;
  }
  .react-logo{
    width: 75px !important;
    margin-right:5px !important;
  }
  .technology-logos{
    text-align: center;
  }
  .technology-logos img{
    margin-right: 10px;
  }
  .angular-logo{
    width: 75px !important;
    margin-right:0px !important;
  }
  .mobile-header{
    font-family: 'Circular-Book';
    font-size: 20px;
    margin-bottom: 12px;
    text-align: center;
    border: 2px solid #eee;
    border-radius: 5px;
    background-color: #ddd;
  }
  .technology-header{
    margin-left: 0px;
    text-align: center;
  }
  .mis-header{
    margin-left: 0px;
    text-align: center;
  }
  .version-header{
    margin-left: 0px;
    text-align: center;
  }
  .operating-header{
    margin-left: 0px;
    text-align: center;
  }
  .mis-logos{
    text-align: center;
  }
  .mis-logos img{
    margin-right: 10px !important;
  }
  .version-logos{
    text-align: center;
  }
  .version-logos img{
    margin-right: 10px;
  }
  .operating-logos{
    text-align: center;
  }
  #message{
    height: 10em;
    width:16.5em;
  }
  #desktop-first-name{
    display:none;
  }
  #desktop-last-name{
    display: none;
  }
  .first-name{
    margin-bottom: 10px;
  }
  .button-cover{
    text-align: center;
  }
  .quote-written span{
    margin-left: 165px;
  }
  #scrollUpIcon{
    font-size: 35px;
    right:10px;
    position: fixed;
    top: 500px;
    display: none;
  }
  .submit-success-response{
    margin-left: 0px;
}
  .submit-failure-response{
    margin-left: 0px;
  }
  .quote-written span {
    margin-left: 140px;
  }
  .self-desc{
    margin-bottom: 25px !important;
  }
  .each-tab{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}



@media only screen and (min-width: 768px) {
  .hidden-lg{
    display: none !important;
  }
  .hidden-md{
    display: none !important;
  }
  .options-cover{
    position: fixed;
    width: 75%;
    z-index: 1;
    background-color: white;
  }
  .button-cover{
    text-align: center;
    font-size: 14px;
  }
  .self-desc{
    margin-bottom: 0 !important;
  }
  .label-font-size{
    font-size: 15px;
  }
  .about-desc-cover{
    font-size: 15px;
  }
  .left-part{
    height: 100vh;
  }
  .project-header{
    font-size: 16px;
  }
  .project-body{
    font-size: 15px;
  }
  .about-wish-header{
    font-size: 1em;
  }
  .about-content{
    font-size: 1em;
  }
  .right-part{
    border-left: 2px solid #eee;
    position: fixed !important;
    right: 0;
    height: 100vh;
    padding-left: 0 !important;
  }
  .hamburger-menu-cover{
    display: none;
  }
  .main-cover{
    margin-right: -15px;
    margin-left: -15px;
  }
  .each-tab{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .content-display{
    padding-right: 10px;
    padding-left: 40px;
    word-spacing: 0.3px;
    margin-top: 80px;
  }
  .project-desc-cover{
    margin-right: 40px;
  }
  .self-intro-cover{
    padding: 0;
  }
  .profile-img{
    width: 65%;
    border-radius: 50%;
    content: url("../images/newMyImage.png");
  }
  .technology-core-animation1{
    animation-name: slideleft;
    position: relative;
    animation-duration: 1000ms;
    animation-delay: 0s;
  }
  .technology-core-animation2{
    animation-name: slideleft;
    animation-duration: 1500ms;
    animation-delay: 0s;
  }
  .technology-core-animation3{
    animation-name: slideleft;
    animation-duration: 2000ms;
    animation-delay: 0s;
  }
  .technology-core-animation4{
    animation-name: slideleft;
    animation-duration: 2500ms;
    animation-delay: 0s;
  }
  .technology-core-animation5{
    animation-name: slideleft;
    animation-duration: 3000ms;
    animation-delay: 0s;
  }
  .technology-core-animation6{
    animation-name: slideleft;
    animation-duration: 3500ms;
    animation-delay: 0s;
  }

  .mis-core-animation1{
    animation-name: slideleft;
    position: relative;
    animation-duration: 1000ms;
    animation-delay: 0s;
  }
  .mis-core-animation2{
    animation-name: slideleft;
    animation-duration: 1500ms;
    animation-delay: 0s;
  }
  .mis-core-animation3{
    animation-name: slideleft;
    animation-duration: 2000ms;
    animation-delay: 0s;
  }
  .mis-core-animation4{
    animation-name: slideleft;
    animation-duration: 2500ms;
    animation-delay: 0s;
  }

  .version-core-animation1{
    animation-name: slideleft;
    position: relative;
    animation-duration: 1000ms;
    animation-delay: 0s;
  }
  .version-core-animation2{
    animation-name: slideleft;
    animation-duration: 1500ms;
    animation-delay: 0s;
  }
  .version-core-animation3{
    animation-name: slideleft;
    animation-duration: 2000ms;
    animation-delay: 0s;
  }
  .version-core-animation4{
    animation-name: slideleft;
    animation-duration: 2000ms;
    animation-delay: 0s;
  }
  .os-core-animation1{
    animation-name: slideleft;
    animation-duration: 2000ms;
    animation-delay: 0s;
  }
  .os-core-animation2{
    animation-name: slideleft;
    animation-duration: 2000ms;
    animation-delay: 0s;
  }
  .os-core-animation3{
    animation-name: slideleft;
    animation-duration: 2000ms;
    animation-delay: 0s;
  }


  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes slideleft {
      from   {right: -1000px;}
      to {right: 0px;}
  }

  /* Standard */
  @keyframes slideleft {
    from   {right: -1000px;}
    to {right: 0px;}
  }
  .technology-logos img{
    width: 80px;
    margin-right: 30px;
    position: relative;
  }
  .mobile-header{
    display: none;
  }
  .technology-header{
    margin-left: 15px;
    text-align: left;
  }
  .mis-header{
    margin-left: 15px;
    text-align: left;
  }
  .version-header{
    margin-left: 15px;
  }
  .operating-header{
    margin-left: 15px;
  }
  .mis-logos img{
    margin-right: 30px;
  }
  .version-logos img{
    margin-right: 30px;
  }
  .version-logos img:first-child{
    margin-right: 25px;
  }
  .version-logos img:nth-child(2){
    margin-right: 15px;
  }
  .version-logos img:nth-child(3){
    margin-right: 35px;
  }
  #message{
    height: 10em;
    width: 100%;
  }
  #mobile-first-name{
    display:none;
  }
  #mobile-last-name{
    display: none;
  }
  .quote-written span{
    margin-left: 235px;
  }
  .submit-success-response{
    margin-left: 30px;
  }
  .submit-failure-response{
    margin-left: 30px;
  }
  #scrollUpIcon{
    display: none !important;
  }
}
